{% extends 'patterns/base.html' %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-10">
			<section id="main" >
        <!-- Botón de busqueda -->
                <form method="post" action="">
					{% csrf_token %}
					<div class="input-group">
						<span class="input-group-btn">
								<button class="btn" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
						<input maxlength="50" type="text" name="q" value="{{ query }}" class="form-control searchResultsInput" placeholder="Buscar...">
					</div>
				</form>
				<!-- Resultados -->
				<br>
				<div>
					<div>
						<p class="text-center">
							{% if patterns|length == 0 %} No se encontraron patrones con ese criterio
							{% elif patterns|length == 1 %} 1 patrón encontrado
							{% else %} {{patterns|length}} patrones encontrados {% endif %}
						</p>
					</div>
					<h3>{{test}}</h3>
					<div>
							{% for result in patterns %}
							<!-- <a href="{{ result }}"> -->
	 								<div class="row">
										<a class="text-dark" href="{% url 'pattern_detail' pattern_id=result.id %}" class="text-decoration-none">

	 									<div class="ml-5 col-xs-12 col-sm-8 col-md-9 col-lg-10">
	 										<h3>{{ result.name }}</h3>
											<h6>{{ result.description }}</h6>
											<!-- <h6>{{ result.structure }}</h6> -->
											<h6><b>Tipo:</b>  {{ result.type }}</h6>
											<h6><b>Catálogo:</b>  {{ result.catalogue }}</h6>
	 									</div>
	 								</div>
										</a>

	 							<!-- </a> -->
                <hr>
							{% endfor %}
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

{% block scripts %}
{% endblock %}

{% endblock %}
